*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  inline-size: 1140px;
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: 'result details';
  column-gap: 30px;
  align-items: end;
}

.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  background-color: #000;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 194px;
  align-items: end;
  gap: 40px 20px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-family: Oswald, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 8px;
  inline-size: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  inline-size: 225px;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-block: 1px solid #fff;
  padding: 2px 0 2px 0;
  outline: none;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: #fff;
  opacity: 0.7;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.search-form__pseudo-checkbox::after {
  content: '';
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  display: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__checkbox:focus-visible + .search-form__pseudo-checkbox {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

.search-form__submit-button {
  justify-self: end;
  inline-size: 194px;
  block-size: 34px;
}

.more-button {
  inline-size: 100%;
  block-size: 34px;
  margin-block-start: auto;
}

.more-button_hidden {
  display: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__details {
  grid-area: details;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 26px;
  inline-size: 100%;
  block-size: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  inline-size: 100%;
  block-size: 298px;
  padding: 3px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  block-size: 100%;
  flex: 1 1 auto;
  min-block-size: 0;
  overflow-y: auto;
}

.content__list::-webkit-scrollbar {
  width: 4px;
}

.content__list::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.content__list::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content__list-item {
  padding-inline: 3px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
  min-inline-size: 0;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content__list-container .preloader,
.result__video-container .preloader {
  position: absolute;
  inset: 0;
}
